$primary-color: #333;
$background-color:  #1a282d;
$text-color: #e6e6ef;
$soft-text-color: #bcbcc5;
$title-color:rgb(253, 251, 251);
$approve-green: rgb(87, 205, 87);
$condemn-red: rgb(237, 82, 82);
$accent-color: #ff3e13;
$box-shadow-soft: 0px 0px 5px 0px $soft-text-color;
$box-shadow-accent: 0px 0px 5px 0px $accent-color